src/project_poc/xsd.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name='REQUEST' >
     
 <xs:complexType>
<xs:sequence>

 <xs:element name='NUMBER' type = 'xsd:integer' 
<xs:element name='AMOUNT' type = 'xsd:double' 
<xs:element name='CURRENCY' type = 'xsd:string' />

</xs:sequence>
</xs:complexType>

</xs:schema>